---
title: Vandemoortele

pageClassName: p-home
---
extends shared/_layout

block header
block footer
block cookie
	.cookie
		.cookie__left
			p!= "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida."
		.cookie__right
			a.cookie__btn(href="#" class="" title="")!= "ok"

block content
	.body.body--home.body--start(class!= pageClassName)

		.home
			.home__wrapper

				.home__header

					.c-grid

						.home__header-wrapper

							.logo
								a.logo__btn(href="/" class="" title="")
									img.logo__img(src="img/logo.svg" srcset="" alt="" title="")

							.lang
								a.lang__btn.is-active(href="#" class="" title="")
									span!= "NL"

								a.lang__btn(href="#" class="" title="")
									span!= "FR"


				.home__content
					.home__content-top
						.home__content--home
							img(src="img/img-egg.png" srcset="img/img-egg@2x.png 2x" alt="" title="")
						.home__content--congrats
							p.home__timer!= "<span>00</span>:<span>00</span>:<span>00</span>"
						.home__content--end
							p.home__timer!= "<span>00</span>:<span>00</span>:<span>00</span>"

					.home__content-middle
						div
							.home__content--home
								h4.home__badge!= "concours"
								h1.home__title!= "Retrouvez le bon goût d’une recette naturelle"
								p.home__desc!= "Placez uniquement les bons ingrédients pour retrouver la vraie recette de la Mayonnaise Vandemoortele et gagnez lorem ipsum dolor sit amet! Consectetur adipiscing elit, sed tempor incididunt ut labore."
								.home__btn-wrapper
									a.home__btn(href="#" class="" title="")!= "Je joue !"
							.home__content--congrats
								h1.home__title!= "Félicitations !"
								p.home__desc!= "Vous n’êtes pas tombé dans nos mayo-pièges et avez retrouvé tous les ingrédients de notre Mayonnaise 100% naturelle !"
								.home__btn-wrapper
									a.home__btn(href="#" class="" title="")!= "Je récupère ma récompense"
							.home__content--thanks
								h4.home__badge!= "lorem ipsum"
								h1.home__title!= "merci !"
								p.home__desc!= "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo incididunt ut labore et dolore magna aliqua ut enim minim."
								.home__btn-wrapper
									a.home__btn(href="#" class="" title="")!= "Je partage !"
							.home__content--end
								h1.home__title!= "Game over"
								p.home__desc!= "Vous êtes tombé dans nos mayo-pièges et vous n’avez pas retrouvé tous les ingrédients de notre Mayonnaise 100% naturelle. Retentez votre chance !"
								.home__btn-wrapper
									a.home__btn(href="#" class="" title="")!= "Je retente ma chance !"

					.home__content-bottom
						.home__content--home
							img(src="img/img-bottle-main.png" srcset="img/img-bottle-main@2x.png 2x" alt="" title="")
						.home__content--congrats
							img(src="img/img-bottle-additional.png" srcset="img/img-bottle-additional@2x.png 2x" alt="" title="")
						.home__content--thanks
							img(src="img/img-bottle-additional.png" srcset="img/img-bottle-additional@2x.png 2x" alt="" title="")
						.home__content--end
							img(src="img/img-bottle-additional-1.png" srcset="img/img-bottle-additional-1@2x.png 2x" alt="" title="")

				.home__footer

					.c-grid

						.home__footer-wrapper

							.link
								a.link__btn.link__btn-0(href="#" class="" title="")!= "Mentions légales"
								span!= "|"
								a.link__btn.link__btn-1(href="#" class="" title="")!= "Lorem ipsum"

							.vers
								p.vers__name!= "<span>Vers</span><a href='#'>Vandemoortele.be</a>"
