---
title: Vandemoortele

pageClassName: p-home
---
extends shared/_layout

block header
block footer
block cookie
	.cookie
		.cookie__left
			p!= "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida."
		.cookie__right
			a.cookie__btn(href="#" class="" title="")!= "ok"

block content
	div.body.body--start(class!= pageClassName)

		.home
			.home__wrapper

				.home__header

					.c-grid

						.home__header-wrapper

							.logo
								a.logo__btn(href="/" class="" title="")
									img.logo__img(src="img/logo.svg" srcset="" alt="" title="")

							.lang
								a.lang__btn.is-active(href="#" class="" title="")
									span!= "NL"

								a.lang__btn(href="#" class="" title="")
									span!= "FR"


				.home__content
					.home__content-top
						img(src="img/img-egg.png" srcset="img/img-egg@2x.png 2x" alt="" title="")

					.home__content-middle
						div
							h4.home__badge!= "concours"
							h1.home__title!= "Retrouvez le bon goût d’une recette naturelle"
							p.home__desc!= "Placez uniquement les bons ingrédients pour retrouver la vraie recette de la Mayonnaise Vandemoortele et gagnez lorem ipsum dolor sit amet! Consectetur adipiscing elit, sed tempor incididunt ut labore."
							.home__btn-wrapper
								a.home__btn(href="#" class="" title="")!= "Je joue !"

					.home__content-bottom
						img(src="img/img-bottle-main.png" srcset="img/img-bottle-main@2x.png 2x" alt="" title="")


				.home__footer

					.c-grid

						.home__footer-wrapper

							.link
								a.link__btn.link__btn-0(href="#" class="" title="")!= "Mentions légales"
								span!= "|"
								a.link__btn.link__btn-1(href="#" class="" title="")!= "Lorem ipsum"

							.vers
								p.vers__name!= "<span>Vers</span><a href='#'>Vandemoortele.be</a>"
